@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display:wght@900&display=swap');

$background-color: #f0c8c2;
$font-color-dark: black;
$font-color-white: #f7e6f8;
$accent1: #90071b;
$accent2: #f0c8c2;
$font-body: 'Montserrat', sans-serif;
$headline: 'Playfair Display';