@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,400&family=Playfair+Display:wght@400;900&display=swap');

$font-header: 'Playfair Display', georgia, serif;
$font-paragraph: 'Montserrat', arial, sans-serif;

$view-small: 20em; // 320px+
$view-medium-alt: 32.5em; // 520px+
$view-medium: 50em; // 800px+
$view-large: 75em; // 1200px+

:root {
/* 'Fluid' Font Sizes */
--fluid-par-min: 0.6rem;
--fluid-par-ideal: 0.8vw;
--fluid-par-max: 1.4rem;

--fluid-h3-min: 1.8rem;
--fluid-h3-ideal: 2vw;
--fluid-h3-max: 2rem;

--fluid-h3-benefits-min: 3.6rem;
--fluid-h3-benefits-ideal: 3vw;
--fluid-h3-benefits-max: 6rem;

--fluid-h2-min: 3rem;
--fluid-h2-ideal: 8vw;
--fluid-h2-max: 9rem;

/* Colors */
--primary: #90071b;
--secondary: #f0c8c2;
--accent1: #F7E6F8;
--accent2: #3b9131;
--dark: #000;
--light: #fff;

--h1-color: var(--light);
--h2-color: var(--light);
--h3-color: var(--primary);
--benefits-h3: var(--light);
--benefits-par: var(--light);

--link-color: var(--dark);
--link-hover: var(--dark);
--link-active: var(--dark);
--link-visisted: var(--dark);

/* Variables */
--box-shadow: 2px 2px 8px 2px #00000050;
--gradient-benefits-title: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(94, 5, 18, 0) 99%, rgba(144, 7, 27, 0) 100%);
--gradient-benefits-par: linear-gradient(356deg, rgba(144, 7, 27, 0) 0%, rgba(94, 5, 18, 0) 62%, rgba(0, 0, 0, 1) 100%);
}

/* Mixins */
@mixin flowerImages($image-url) {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-image: url($image-url);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position-y: 50%;
    margin: auto;
}

@mixin zen-logo-background($image-url) {
    transition: 3s ease-in-out;
    background-image: url($image-url);
    background-repeat: repeat;
    background-position: center;
    background-size: 30%;
    box-shadow: var(--box-shadow);
}

/* Animations */
@keyframes sweepup {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}