/* IMPORTANT: Please be sure to edit the .SCSS file instead of the .CSS file so your changes don't get overridden. */
/* Please do not make changes to the HTML file. */

/* Variables (Fonts, Colors, Properties), Atoms, Molecules, and Organisms Imports */
@import 'variables';

/* HTML, Body, Page-Wrapper */
body {
    margin: 0;
    padding: 20px 10px;
    background-color: $secondary;
}

.page-wrapper {
    width: 70%;
    height: auto;
    margin: 20px auto 0 auto;
    border-radius: 0 4rem 0 4rem;
    background-color: $primary;
}

/* Font Properties */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    font-weight: 900;
}

h1 {
    font-size: 3em;
    padding-top: .5rem;
    height: 0;
    font-size: 5rem;
    position: relative;
    top: -6rem;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.8em;
}

p, nav, a {
    font-family: $font-paragraph;
    font-weight: 400;
    line-height: 1.4em;
}

/* Lists */
ul li {
    margin-bottom: 8px;
}

/* Page Header */
header {
    &:hover {
        background-color: $accent1;
        box-shadow: $box-shadow;
        transition: 1s ease-in-out;
    }

    h1 { // Optional Header Styling
        visibility: hidden;
        text-align: center;
        line-height: 1em;
        &:before {
            content: "Zen Garden";
            visibility: visible;
            display: block;
            opacity: 0.60;
        }
        &:after {
            content: "CSS";
            visibility: visible;
            display: inline;
            position: absolute;
            top: 0.7em;
            left: 75%;
            transform: rotate(-30deg);
            opacity: 0.60;
        }
    }
    
    h2 {
        padding: 1rem;
        text-align: center;
        background-color: $light;
        color: $secondary;
    }
}

/* Page Sections */
.intro div, .main div, .sidebar .wrapper div, footer {
    padding: 1.5rem;
    &:hover {
        background-color: $accent1;
        box-shadow: $box-shadow;
        transition: 1s ease-in;
    }
}

#zen-summary {
    text-align: center;
    margin: 1rem;
    padding: 1.5rem;
    background-color: $secondary;
    color: $font-light;
    transition: 1s ease-in;
    animation: sweepup 1s linear;
    overflow: hidden;
    &:hover {
        background-color: $accent1;
        color: $font-dark;
        box-shadow: $box-shadow;
        transition: 1s ease-in;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}

/* Animations */
@keyframes sweepup {
    0% {
        transform: translate(0,50%);
    }
    100% {
        transform: translate(0,0);
    }
}