/* IMPORTANT: Please be sure to edit the .SCSS file instead of the .CSS file so your changes don't get overridden. */
/* Please do not make changes to the HTML file. */
/* Variables (Fonts, Colors, Properties), Atoms, Molecules, and Organisms Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,400&family=Playfair+Display:wght@400;900&display=swap");
:root {
  /* 'Fluid' Font Sizes */
  --fluid-par-min: 0.6rem;
  --fluid-par-ideal: 0.8vw;
  --fluid-par-max: 1.4rem;
  --fluid-h3-min: 1.8rem;
  --fluid-h3-ideal: 2vw;
  --fluid-h3-max: 2rem;
  --fluid-h3-benefits-min: 3.6rem;
  --fluid-h3-benefits-ideal: 3vw;
  --fluid-h3-benefits-max: 6rem;
  --fluid-h2-min: 3rem;
  --fluid-h2-ideal: 8vw;
  --fluid-h2-max: 9rem;
  /* Colors */
  --primary: #90071b;
  --secondary: #f0c8c2;
  --accent1: #F7E6F8;
  --accent2: #347b2c;
  --dark: #000;
  --light: #fff;
  --h1-color: var(--light);
  --h2-color: var(--light);
  --h3-color: var(--primary);
  --benefits-h3: var(--light);
  --benefits-par: var(--light);
  --link-color: var(--dark);
  --link-hover: var(--dark);
  --link-active: var(--dark);
  --link-visisted: var(--dark);
  /* Variables */
  --box-shadow: 2px 2px 8px 2px #00000050;
}

/* ============== FOUNDATION / FUNDAMENTALS ============== */
/* HTML, Body, Page-Wrapper */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}

.page-wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
  height: auto;
  margin: 10px auto 0 auto;
  background-color: transparent;
  transition: 1s;
}
@media screen and (min-width: 20em) {
  .page-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 50em) {
  .page-wrapper {
    width: 75%;
  }
}
@media screen and (min-width: 75em) {
  .page-wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Font Properties */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", georgia, serif;
  font-weight: 900;
}

h1 {
  position: absolute;
  z-index: -1;
  font-size: 5rem;
  line-height: 1em;
  height: 0;
  left: -16rem;
  top: 100rem;
  padding: 1.5rem;
  color: var(--h1-color);
  transform: rotate(-90deg);
  transition: 0.8s;
}
h1:after {
  content: url("https://melodycurran.github.io/zen-garden/zen-logo.svg");
  position: absolute;
  overflow: visible;
  right: -140px;
  top: -40px;
  transform: rotate(90deg);
}
@media screen and (min-width: 20em) {
  h1 {
    opacity: 0;
  }
}
@media screen and (min-width: 50em) {
  h1 {
    opacity: 0.5;
  }
}
@media screen and (min-width: 75em) {
  h1 {
    opacity: 1;
  }
}

h2 {
  display: inline;
  text-align: center;
  color: var(--h2-color);
  font-size: clamp(var(--fluid-h2-min), var(--fluid-h2-ideal) + 1rem, var(--fluid-h2-max));
}
h2 > abbr {
  color: var(--secondary);
}

h3 {
  color: var(--h3-color);
  font-size: clamp(var(--fluid-h3-min), var(--fluid-h3-ideal) + 1rem, var(--fluid-h3-max));
}

p, nav, a {
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  font-size: clamp(var(--fluid-par-min), var(--fluid-par-ideal) + 1rem, var(--fluid-par-max));
  color: var(--dark);
}

abbr {
  text-decoration: none;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: underline;
}
a:hover {
  color: var(--link-hover);
}
a:active {
  color: var(--link-active);
}
a:visited {
  color: var(--link-visited);
}

/* Lists */
ul {
  padding-left: 0;
}
ul li {
  margin-bottom: 20px;
  list-style-type: none;
}

/* ============== ANIMATIONS / IMAGES ============== */
/* Animations */
@keyframes sweepup {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.preamble::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("/images/orange-spiked-flower.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position-y: 50%;
  margin: auto;
}

.explanation::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("/images/pink-lily.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position-y: 50%;
  margin: auto;
}

.participation::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("/images/pink-spiked-flower.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position-y: 50%;
  margin: auto;
}

/* ============== ALL SECTIONS ============== */
.intro div,
.main div,
.sidebar .wrapper div,
footer {
  padding: 1.5rem;
}

header[role=banner] {
  text-align: center;
}
@media screen and (min-width: 75em) {
  header[role=banner] {
    grid-column: 1/span 3;
  }
}

@media screen and (min-width: 75em) {
  .main {
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 75em) {
  footer {
    grid-column: 1/span 3;
  }
}
footer a {
  width: 5rem;
  padding: 20px;
  margin: 8px 2px;
  text-align: center;
  text-decoration: none;
  color: var(--light);
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
}
footer a:hover {
  color: var(--link-active);
}
footer a:active {
  color: var(--link-hover);
}
footer a:visited {
  color: var(--light);
}

div p {
  margin-bottom: 1.8em;
}

/* ============== SECTION ONE ============== */
.intro h3, .summary h3, .preamble h3 {
  text-align: center;
}

@media screen and (min-width: 75em) {
  .intro {
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.summary {
  text-align: center;
  background-color: var(--secondary);
  color: var(--light);
  overflow: hidden;
}
@media screen and (min-width: 75em) {
  .summary {
    grid-column: 1/span 3;
  }
}
.summary div {
  background-color: var(--dark);
}

#zen-summary {
  transition: 1s ease-in;
  animation: sweepup 1s linear;
  overflow: hidden;
}
#zen-summary:hover {
  background-color: var(--accent1);
  transition: 1s ease-in;
  background-image: url("https://melodycurran.github.io/zen-garden/zen-logo.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: 30%;
}

.preamble {
  background-color: var(--light);
}
@media screen and (min-width: 75em) {
  .preamble {
    grid-column: 1/span 3;
  }
}

/* ============== SECTION TWO ============== */
.explanation h3, .participation h3, .benefits h3, .requirements h3 {
  text-align: center;
}

.explanation {
  background-color: var(--secondary);
}
@media screen and (min-width: 75em) {
  .explanation {
    grid-column: 1/2;
  }
}

.participation {
  background-color: var(--accent1);
}
@media screen and (min-width: 75em) {
  .participation {
    grid-column: 2/3;
  }
}

.benefits {
  position: relative;
  background-image: url("/images/pink-spiked-flower.webp");
  background-size: cover;
  background: url("/images/yellow-spiked-flower.webp");
  background-size: cover;
  background-position: 50% 50%;
  fill-opacity: 0;
}
.benefits h3 {
  text-align: center;
  font-size: clamp(var(--fluid-h3-benefits-min), var(--fluid-h3-benefits-ideal) + 1rem, var(--fluid-h3-benefits-max));
  color: var(--benefits-h3);
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(94, 5, 18, 0) 99%, rgba(144, 7, 27, 0) 100%);
}
.benefits p {
  position: relative;
  width: 100%;
  height: 75%;
  padding: 5px;
  opacity: 0;
  color: var(--benefits-par);
}
.benefits p:hover {
  opacity: 100;
  transition: 1s ease-in;
  border-radius: 3px;
  background: linear-gradient(356deg, rgba(144, 7, 27, 0) 0%, rgba(94, 5, 18, 0) 62%, rgb(0, 0, 0) 100%);
}
.benefits:hover {
  background-color: black;
  transition: 1s ease-in;
}
@media screen and (min-width: 75em) {
  .benefits {
    grid-column: 1/2;
  }
}

.requirements {
  background-color: var(--light);
}
.requirements::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("/images/purple.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position-y: 50%;
  margin: auto;
  background-position-x: 35%;
}

/* ============== SECTION THREE ============== */
@media screen and (min-width: 20em) {
  .design-selection h3, .design-selection li, .design-archives h3, .design-archives li, .zen-resources h3, .zen-resources li {
    text-align: center;
  }
}
@media screen and (min-width: 50em) {
  .design-selection h3, .design-selection li, .design-archives h3, .design-archives li, .zen-resources h3, .zen-resources li {
    text-align: left;
  }
}

@media screen and (min-width: 75em) {
  .sidebar {
    grid-column: 1/span 3;
  }
}
@media screen and (min-width: 75em) {
  .sidebar .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.design-selection {
  background-color: var(--secondary);
}
@media screen and (min-width: 75em) {
  .design-selection {
    grid-column: 1/span 3;
  }
  .design-selection ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .design-selection ul li {
    display: block;
    display: flex;
    flex-direction: column;
  }
}

.design-archives {
  background-color: var(--light);
}
@media screen and (min-width: 75em) {
  .design-archives {
    grid-row: 2/3;
  }
}

.zen-resources {
  background-color: var(--accent1);
}
@media screen and (min-width: 75em) {
  .zen-resources {
    grid-column: span 2;
    grid-row: 2/3;
    display: grid;
  }
  .zen-resources ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* ============== EXTRA ============== */
.extra1 {
  z-index: -2;
  display: inline;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 900px;
  background-color: var(--accent2);
}

.extra2 {
  z-index: -3;
  display: inline;
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  border-bottom: 12rem solid var(--primary);
}/*# sourceMappingURL=styles.css.map */