@import 'variables';

h1 {
    padding-top: .5rem;
    height: 0;
    font-family: $headline;
    font-size: 5rem;
    position: relative;
    top: -6rem;
    opacity: .60;
}

h1:before {
    content: url(#zen-logo);
}

span.css {
    transform: rotate(-30deg);
    position: absolute;
    right: 58rem;
    top: 5rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    background: $background-color;
    color: $accent1;
}

body {
    background: $background-color;
    font-family: $font-body;
}
.page-wrapper {
    background: $accent1;
    width: 70%;
    height: 75%;
    margin: 0 auto;
    border-radius: 0 4rem 0 4rem; 
}

#zen-summary {
    text-align: center;
    padding: 1.5rem;
    color: white;
    transition: 2s ease;
    animation: sweepup 1s linear;
    overflow: hidden;
}

@keyframes sweepup {
    0% {
        transform: translate(0,50%);
    }
    100% {
        transform: translate(0,0);
    }
}

//SVG design
.petal {
    fill: #90071b;
    stroke: none;
    opacity: .25;
}
